.button {
  display: flex;
  justify-content: center;
}

.button__prev {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #ffb6c1;
  z-index: 100;
  left: 20px;
  top: 50%;
  border-radius: 50px;
  transform: translate(0, -50%);
  transition: all ease 0.4s;
}

.button__prev svg {
  transform: rotate(180deg);
  transition: all ease 0.4s;
  left: 0;
}

.button__prev:hover {
  transition: all ease 0.4s;
  border: 2px solid #c0c0c0;
}

.button__prev:hover svg {
  transition: all ease 0.4s;
  left: -3px;
}

@media screen and (max-width: 568px) {
  .button__prev {
    width: 30px;
    height: 30px;
    left: 10px;
  }
}

.button__next {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #ffb6c1;
  z-index: 100;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50px;
  transition: all ease 0.4s;
}

.button__next svg {
  transition: all ease 0.4s;
  right: 0;
}

.button__next:hover {
  transition: all ease 0.4s;
  border: 2px solid #c0c0c0;
}

.button__next:hover svg {
  transition: all ease 0.4s;
  right: -3px;
}

@media screen and (max-width: 568px) {
  .button__next {
    width: 30px;
    height: 30px;
    right: 10px;
  }
}

.button-svg {
  fill: #ffb6c1;
  width: 18px;
  height: 18px;
  position: relative;
  transition: all ease 0.4s;
}

@media screen and (max-width: 568px) {
  .button-svg {
    width: 13px;
    height: 13px;
  }
}

