.btn-svg-edit {
    position: absolute;
    z-index: 100;
    top: 55px;
    right: 5px;
    transition: all .3s ease;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;


    img {

        &:hover {
            transform: rotate(135deg);
            transition: all .3s ease;
        }
    }
}
