.footer {
  flex-shrink: 0;
  width: 100%;
  height: 100px;
  background: #ffb6c1;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 39px 100px;
}

@media screen and (max-width: 568px) {
  .footer__content {
    flex-direction: column;
    text-align: center;
  }
}

.footer__text {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 568px) {
  .footer__text {
    font-size: 14px;
  }
}

.footer__text-link {
  transition: all 0.4s ease;
}

.footer__text-link:hover {
  transition: all 0.4s ease;
  color: #808080;
}

@media screen and (max-width: 568px) {
  .footer {
    height: auto;
  }

  .footer__content {
    padding: 20px 20px;
    justify-content: center;
  }

  .footer__content div {
    margin-bottom: 10px;
  }

  .footer__content div:last-of-type {
    margin-bottom: 0;
  }
}

